* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #020222;
    display: flex;
    min-height: 100vh;
  }
  
  main {
    display: grid;
    grid-template-areas: 
    'a a b'
    'c d d'
    'c e e'
    ;
    gap: 20px;
    width: 50%;
    margin: auto;
  }
  
  main div {
    padding: 2em;
    text-align: center;
  }
  .a {
    background-color: red;
    grid-area: a;
    height: 18vh;
  }
  
  .b {
    background-color: orange;
    grid-area: b;
  }
  
  .c {
    background-color: green;
    grid-area: c;
  }
  
  .d {
    background-color: aqua;
    grid-area: d;
  }
  
  .e {
    background-color: aqua;
    grid-area: e;
  }